.wrapper {
  display: flex;
  height: 100vh;
  /* width: 100vh; */
  justify-content: center;
  align-items: center;
}
.accordion {
  width: 500px;
}

.multibuttonenable {
  background-color: green;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.mulitbuttondisable {
  background-color: #614101;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.dataItem {
  background-color: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.dataTitle {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  height: auto;
}
